@charset "utf-8";
/*——————  font- web-yar.ir —————— */
@font-face {
    font-family: "yekan";
    src: url(/artarad_khanehkhodro_theme/static/src/font/Yekan.eot);
    src: url(/artarad_khanehkhodro_theme/static/src/font/Yekan.eot?#iefix) format("embedded-opentype"), url(/artarad_khanehkhodro_theme/static/src/font/Yekan.woff) format("woff"), url(/artarad_khanehkhodro_theme/static/src/font/Yekan.ttf) format("truetype"), url(/artarad_khanehkhodro_theme/static/src/font/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: "B Yekan", "yekan", Tahoma ;
    text-align: right;
    direction: rtl;
}

/*—————— font-web-yar.ir ————— */
.first-search .nav-tabs > li {

    float: right !important;
}

@media only screen and (min-width: 62.25em) {
    .promo {
        padding: 4.6875rem 0;
    }
}

.promo {
    text-align: center;
    position: relative;
}

.carmax h2, .carmax h3 {

    padding-bottom: 10px;
}

.js-tab-panel.selected {
    height: auto;
    overflow: visible;
    display: block;
}

.value-prop--promo-wrap {
    padding: 4.6875rem 0 0 0;
}

.js-tab-panel {
    height: 0;
    overflow: hidden;
    display: none;
}

.value-prop--promo {
    float: left;
    clear: none;
    text-align: inherit;
    width: 32.50933333333333%;
    margin-left: 0%;
    margin-right: 1.236%;
}

.react-mounted [data-react] {
    visibility: visible;
}

.value-prop--promo h4 {
    margin: .5em 0;
}

@media only screen and (min-width: 47em) {
    .value-prop--promo p {
        word-spacing: -.05em;
    }
}

.value-prop--promo p {
    margin: .5em 0;
}

svg:not(:root) {
    overflow: hidden;
    pointer-events: none;
}

.value-prop--promo--icon {
    display: inline-block;
    height: 3.125rem;
    width: 100%;
    margin-bottom: .9375rem;
    position: relative;
    vertical-align: middle;
    fill: #012648;
}

.value-prop--cta-wrap {
    margin: 3.75rem;
}

.carmax .btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    padding: 1rem .75rem .9375rem 6.0625rem;
    border: 1px solid black;
    color: #012648;
    text-transform: uppercase;
    position: relative;
    min-width: 15.625rem;
    overflow: hidden;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.carmax .nav-tabs > li {
    float: none;
    display: inline-block;
    zoom: 1;
}

.carmax .nav-tabs {
    text-align: center;
    padding: 0;
}

.carmax .nav-tabs li.active {
    background-color: #bc162c !important;
    color: #fff !important;
}

.carmax .nav-tabs li {
    cursor: pointer;
    color: #012648;
    background-color: #f2f2f2;

}

.carmax .nav-tabs > li.active > a, .carmax .nav-tabs > li.active > a:hover, .carmax .nav-tabs > li.active > a:focus {
    color: inherit;
    background-color: inherit;;
    border: none;
    cursor: inherit;
}

.carmax .nav-tabs li.active:after {
    display: block;
}

.carmax .nav-tabs li:after {
    width: 0;
    height: 0;
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-top: 1.25rem solid #bc162c;
    position: absolute;
    bottom: -1.1875rem;
    left: 50%;
    margin-left: -1.25rem;
    display: none;
    content: ' ';
}

.carmax .nav-tabs {
    border-bottom: none;
}

.navbar.navbar-static-top {
    padding: 5px;
    background-color: white;
    border-bottom: #bc162c 3px solid;
}

.btn-primary {
    background-color: #bc162c;
    border-color: rgb(207, 2, 27);
}

.btn-primary:hover {
    background-color: rgb(207, 2, 27);
    border-color: rgb(197, 2, 27);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: inherit;

    -webkit-box-shadow: 0px 1px 0px #bc162c;
    -moz-box-shadow: 0px 1px 0px #bc162c;
    box-shadow: 0px 1px 0px #bc162c;
}



.carmax .btn:before {
    position: absolute;
    display: block;
    content: ' ';
    left: 1em;
    top: 50%;
    margin-top: -.375rem;
    width: .5625rem;
    height: .5625rem;
    border-top: 2px solid #012648;
    border-right: 2px solid #012648;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    z-index: 3;

}

.carmax .btn:after {
    position: absolute;
    content: ' ';
    left: 0;
    top: 0;
    bottom: 0;
    width: 2.6875rem;
    background: #bc162c;
    z-index: 2;

}

.value-prop--promos:before, .value-prop--promos:after {
    content: '';
    display: table;
}

.value-prop--promos:after {
    clear: both;
}

.value-prop--promos:before, .value-prop--promos:after {
    content: '';
    display: table;
}

.control-label {
    font-weight: normal !important;
}

.input-group > .custom-file {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0;
}

a {
    color: rgb(108, 112, 114);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #bc162c;
}

.navbar-nav > li {
    float: right;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "انتخاب";
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    z-index: 3;
    display: block;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "انتخاب";

}

.khaneh_adv {
    background-color: #bc162c;
}

.value-prop--promos svg {

    height: 50px;
    width: 50px;
    padding: 5px;
}

footer, footer li, footer a, footer .text-muted {
    background-color: #666;
    color: white !important;
}

.container-khaneh img {

    vertical-align: middle;
}

.container-khaneh.brand-img img {
    height: 90px;
}

.s_feature_grid p {
    overflow: hidden;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {

    float: right !important;
}

.oe_product_cart a {
    font-family: "Times New Roman", Times, serif;

}

.oe_product_cart h5 {
    text-align: left;

}

.container-khaneh .nav-tabs a {
    color: rgb(108, 112, 114) !important;
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.navbar-nav > li > a {
    padding-bottom: 10px;
}

.nav-tabs a {
    color: rgb(108, 112, 114) !important;
}

@media only screen and (min-width: 900px) {
    .container-khaneh {
        margin: 0 10%;
        padding: 3px;
    }

    .brand-img {
        height: 160px;
    }

}



.oe_product{
    border:none;
}
.oe_product_cart h5 {

    text-align: Center;

}
.oe_product_cart h5 a{
    color: #1e3046;
    font-size: 16px;
    font-family: 'Rozha One', serif;
}
.oe_product .oe_product_image img{
    background-color:#ececec!important;
}
.product_price .oe_currency_value{
    color:#1e3046;
    text-align: center;
}
.oe_product .product_price{
    width: 100%;
    text-align: center;
    color:#1e3046;
}
.oe_product .product_price{
    position: inherit !important;
}
.s_comparisons .panel-heading{
    height: inherit!important;
}
.s_comparisons .list-group{
    padding: 0;
}

.vehicle{
background-image:url("../img/background/vehicle.jpeg") ;
    background-repeat: no-repeat;
}
.vehiclePart{
    background-image:url("../img/background/vehicle-part.jpeg") ;
    background-repeat: no-repeat;
}
.search-container {
    background-color: rgba(242, 242, 242, .85);
}
.first-search {
    padding-top: 4%;
    height: 500px;
    background-size: cover;
}
.search-container .nav-tabs>li.active>a {
    border-top: 1px solid #bc162c;
    border-left: 1px solid #bc162c;
    border-right: 1px solid #bc162c;
}
.bg-beta{
    background-color: #bc162c;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}